[Desktop Entry]
Encoding=UTF-8
Name=Smartcoin Core
Comment=Connect to the Smartcoin P2P Network
Comment[de]=Verbinde mit dem Smartcoin peer-to-peer Netzwerk
Comment[fr]=Smartcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Smartcoin, eşten eşe kriptografik sanal para birimi
Exec=smartcoin-qt %u
Terminal=false
Type=Application
Icon=dogecoin128
MimeType=x-scheme-handler/smartcoin;
Categories=Office;Finance;
